*{
  box-sizing: border-box;
}
.aboutme-text {
 width: 1650px;
 background: #fdfff5;
 height: 1000px;
 margin-top: -100px;
 margin: 0 auto;
}
.school {
  background-color: black;
  height: 100%;
  width: 1650px;
  display: grid;
  padding-top: 100px;
}
@font-face {
  font-family: 'MyFont2';
  src: url('./font4.ttf') format('truetype');
}

.curved {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 0;
  font-family: 'MyFont2';
  
}

.curved.upper {
  background-color: #D3858D;
  background-position: 50% -60px;
  margin-bottom: -58px;
}
.curved h1 {
  color: white;
  font-size: 80px;
}

.schoolheader {
  position: absolute;
  color: white;
  font-size: 60px;
  margin-top: -10px;
}
.schoolheader2 {
  margin-left: 760px;
}
.school-text {
  display: flex;
  max-width: 1650px;
}

.hobbies-text {
  margin-top: -72px;
}

.box1 {
  position: absolute;
  width: 732px;
  height: 323px;
  margin-top: 70px;
  background-color: white;
  color: black;
  font-size: 21px;
  padding: 15px;
box-sizing: border-box;
}

.box2 {
  position: absolute;
  margin-top: 70px;
  width: 732px;
  height: 323px;
  background-color: white;
  color: black;
  font-size: 21px;
  margin-left: 750px;
  line-height: 1.8;
  padding: 15px;
box-sizing: border-box;
}

.hobbiesheader {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
.hobbies {
  display: flex;
  align-items: row;
  width: 630px;
  height: 300px;
}

.music {
  width: 210px;
  height: 300px;
  border: 1px black;
  text-align: center;
  line-height: 2.5;
}
.skills {
  font-size: 25px;
  color: black;
  margin-left: 20px;
}
.boxContainer{
  display: flex;
  justify-content: center;
}
.box1-c{
  width: 700px;
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
  min-height: 330px;
}
.box1-c p{
  font-size: 21px;
}
.boxwrap h1{
  font-size: 60px;
  color: #fff;
}
.boxwrap{
  background: #000;
  padding: 15px;
  box-sizing: border-box;
}



@media(max-width: 767px)
{
  .boxContainer{
    display: block;
  }
  .box1-c{
    width: 100%;
  }
}

@media(min-width: 768px)
{
  .courseDesc{
    line-height: 32px;
  }
  .skillsText{
    line-height: 64px;
  }
  .boxContainer .boxwrap:first-child{
    padding-left: 40px;
  }
  .boxContainer .boxwrap:last-child{
    padding-right: 40px;
  }
  .secondboxContainer .boxwrap{
    padding-bottom: 80px;
  }
  
}

@media (min-width: 768px) and (max-width: 1560px) {
  .box1-c{
    width: 500px;
    min-height: 380px;
  }
  .music{
    width: auto;
  }
  .skillsText {
    line-height: 37px;
}
  .courseDesc {
    line-height: 28px;
}

}

